{% extends 'base.html.twig' %}
{% block body %}



    <div class="am_cookies">


    <h1>POLÍTICA DE COOKIES</h1>

<p>
    En Fruitable utilizamos cookies con el objetivo de hacer más útil la navegación de los usuarios en nuestra página web.
    En este sentido, y con el objetivo de garantizar al usuario toda la información necesaria para su correcta navegación,
    ponemos a su disposición la siguiente información:
</p>
    <h2>1. QUÉ SON LAS COOKIES</h2>

<p>
    Actualmente, todas las páginas web, independientemente del servicio que presten, utilizan cookies,
    es decir, guardan una información mínima sobre la navegación realizada por el usuario en la página web.
    Una cookie puede definirse como un pequeño archivo de texto que se descarga en el equipo o terminal del usuario cuando navega por las páginas web,
    con la finalidad de almacenar datos que podrán ser actualizados y recuperados por la entidad responsable de su instalación.
</p>
    <h2>2. TIPOS DE COOKIES EMPLEADAS POR FRUITABLE</h2>

    <p class="am_titulo_cookies">Estrictamente necesarias:</p>

<p>Son cookies siempre activas, imprescindibles para el funcionamiento básico de la web,
   permiten recordar el comportamiento del usuario al navegar por la web en una misma sesión o, si se solicita, de sesión a sesión.
   Facilitan al usuario la utilización de herramientas tales como identificar la sesión, acceder a partes de acceso restringido,
   realizar el proceso de compra de un pedido, entre otras. Sin estas cookies, las funciones mencionadas quedarían inhabilitadas.
</p>

    <p class="am_titulo_cookies">Funcionales y de rendimiento:</p>

<p>Estas cookies de análisis nos permiten mejorar la funcionalidad de la web al hacer un seguimiento anónimo del uso.
    Ayudan a identificar los productos que podríamos recomendar al usuario, identifican la ubicación geográfica, el idioma,
    etc. En algunos casos, estas cookies mejoran la velocidad con la que podemos procesar las solicitudes,
    e incluso nos permiten recordar las preferencias que el usuario selecciona. El objetivo de este tipo de cookies es la prestación de un servicio más personalizado.
</p>
    <p class="am_titulo_cookies">De análisis:</p>

    <p>Google Analytics es una herramienta gratuita de análisis web de Google que principalmente permite a Fruitable conocer cómo interactúan los usuarios con su sitio web. Asimismo, habilita cookies en el dominio del sitio en el que se encuentra el usuario y utiliza un conjunto de cookies denominadas "__utma" y "__utmz" para recopilar información de forma anónima y elaborar informes de tendencias de sitios web sin identificar a usuarios individuales.</p>

    <h2>3. ACEPTACIÓN DE COOKIES DE FRUITABLE</h2>

    <p>La Web de Fruitable, al inicio de la navegación, lanza un mensaje en el que se expresa que si el cliente continúa con la navegación por la página está aceptando el uso de cookies por parte de Fruitable.</p>
    <p>Una vez aceptadas las cookies, Fruitable, a través de una herramienta de comportamiento de usuario puede recabar información relativa a la navegación del cliente a fin de usarla para mejorar su experiencia de compra.</p>

        <h2>4. ¿CÓMO DESHABILITAR LAS COOKIES?</h2>

        <p>El usuario tiene la posibilidad de deshabilitar las cookies, lo que podría empeorar el funcionamiento óptimo de la página web. No obstante, para el funcionamiento básico de la web el navegador precisa recoger determinada información, incluso en el caso de haber deshabilitado todas las cookies del sitio web. En función del navegador empleado por el usuario los pasos para la configuración de las cookies son diferentes, facilitamos a continuación los enlaces de los navegadores más comunes:</p>
        <ul type="none">
            <li><a href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a></li>
            <li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">Mozilla Firefox</a></li>
            <li><a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies">Internet Explorer</a></li>
            <li><a href="https://support.apple.com/es-es/HT201265">Safari</a></li>
            <li><a href="https://support.google.com/chrome/answer/2392971?hl=es">Chrome para Android</a></li>
        </ul>
</div>
{% endblock %}
