{% extends 'base.html.twig' %}

{% block body %}

<div class="am_legal">
    <H1>CONDICIONES GENERALES DE ACCESO A LOS SERVICIOS DIGITALES (WEB Y APP) DE FRUITABLE</H1>

    <h2>Identidad del titular de las aplicaciones.</h2>

    <p>En cumplimiento de la obligación de información general contenida en el artículo 10 de la Ley 34/2002, de 11 de julio,
        de servicios de la sociedad de la información y de comercio electrónico,
        se informa que los Datos identificativos del responsable titular de la Página web www.alcampo.es
        y de la Aplicación móvil de fruitable (en lo sucesivo el "la App", “ la Web” y conjuntamente “las aplicaciones”)
        a través de los cuales se prestan determinados servicios (en adelante “los servicios”) es el siguiente:</p>

    <ul type="none">
        <li>FRUITABLE S.L.</li>
        <li>Calle de las flores Sur s/n.</li>
        <li>Edificio Oficinas La fruaguaria</li>
        <li>08850 Gava.</li>
        <li>N.I.F: B-87361944</li>
        <li>Inscrita en el Registro Mercantil de barcelona, Tomo 33.544, Folio 26, Hoja M-6674264</li>
    </ul>
    <p>En adelante, FRUITABLE</p>
    <p>Se pone a disposición de los Usuarios los siguientes medios donde podrán dirigir sus peticiones, cuestiones y quejas:</p>
    <ul type="none">
        <li>- Dirección Postal: FRUITABLE S.L, calle Santiago de Compostela Sur s/n, Edificio Oficinas La Vaguada, 28029 Madrid.</li>
        <li>- Tel.: (+34) 99 734 55 55</li>
        <li>- Dirección de correo electrónico: atencioncliente@alcampo.es</li>
    </ul>

    <h2>Notificación de retirada o bloqueo de contenidos</h2>

    <p>Las aplicaciones mencionadas en el apartado anterior proporcionan a sus Usuarios contenidos de acceso público,
        como por ejemplo folletos, promociones, planos de la tienda, surtido de producto, precios,
        confección de listas de la compra así como hipervínculos que dan acceso a contenidos y actividades prestados
        por terceros ajenos a FRUITABLE, con los que no mantienen relación contractual alguna.</p>

    <p>En caso de que cualquier Usuario o tercero afectado considere que existen hechos o circunstancias
        que revelen el carácter ilícito de cualquiera de los referidos contenidos o actividades,
        deberá enviar una comunicación a FRUITABLE, S.L, calle de las flores, s/n, 08850 · Gava-España,
        exponiendo los hechos objeto de denuncia y aportando la documentación que lo justifique.</p>

    <p>No se admitirán comunicaciones anónimas como notificación suficiente para poner en conocimiento de Fruitable
        la ilicitud de contenidos o actividades.</p>



</div>

{% endblock %}