{% extends 'base.html.twig' %}

{% block body %}

<div class="am_privacy_policy">


    <h1>POLÍTICA DE PRIVACIDAD</h1>

    <p>1.- FRUITABLE respetará, en todo momento, lo dispuesto en la normativa vigente sobre Protección de Datos de Carácter Personal y normativa de desarrollo, y garantiza la confidencialidad de los datos personales y, en respuesta a su preocupación por garantizar la seguridad de los mismos, informa al Usuario que ha adoptado los medios técnicos a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales que el Usuario hubiera facilitado a través de la Aplicación;</p>

    <p>2.- FRUITABLE informa al Usuario de la posible existencia en esta Aplicación de enlaces que permiten el acceso a diferentes páginas Web de determinadas sociedades de FRUITABLE, así como a diversas organizaciones o entidades de terceros cuya titularidad no es de FRUITABLE debiendo, en consecuencia, atender el Usuario a lo previsto en la política de privacidad y protección de datos establecida por sus respectivos titulares.</p>

    <p>3.- En ocasiones, el Usuario podrá facilitar sus datos de carácter personal, bien de forma voluntaria, o bien a petición de FRUITABLE a través de cualquiera de los formularios existentes en la App.</p>

    <p>4.- De conformidad con la normativa vigente, se informa al Usuario de que sus datos personales serán tratados en calidad de corresponsables del tratamiento por las siguientes entidades de “FRUITABLE” informadas en el enlace del primer apartado. Podrá ponerse en contacto con su Delegado de Protección de Datos (DPO) en la dirección de correo electrónico siguiente: dpoare@alcampo.es</p>

    <p>5.- La suscripción del presente contrato implica que los datos personales del Usuario serán tratados por FRUITABLE con el fin de permitir el adecuado funcionamiento de las aplicaciones y sus funcionalidades (gestión de los servicios digitales y otros servicios vinculados a los mismos, lista de la compra, realización de pedidos, pago y facturación de productos y servicios, entrega a domicilio, compartir información con otros usuarios y otras relacionadas que se faciliten por medio de la misma).</p>

    <p>6.- Los datos personales solicitados en los formularios de alta identificados como obligatorios son esenciales para la prestación del servicio, de tal forma que la negativa a suministrarlos supondrá la imposibilidad de llevar a cabo la suscripción.</p>

    <p>7.- Complementariamente, para la satisfacción de sus intereses legítimos, cuando el Usuario de su consentimiento, FRUITABLE podrá ponerse en contacto con éste para conocer su valoración sobre los productos y servicios de FRUITABLE, así como para elaborar un perfil comercial del Usuario recurriendo a información facilitada, para poder ofrecerle productos y servicios de acuerdo con sus intereses, así como mejorar su experiencia de usuario, pudiendo tomar decisiones automatizadas basadas en sus preferencias o intereses personales. En base a lo anterior, FRUITABLE podrá realizar ofertas concretas, enviarle comunicaciones comerciales adaptadas a su perfil, así como permitir o denegar la contratación de productos o servicios. No obstante, lo anterior, en lo que respecta a las tomas de decisiones automatizadas, el Usuario tendrá derecho a obtener intervención humana por parte de FRUITABLE, a expresar su punto de vista y a impugnar las decisiones adoptadas.</p>

    <p>8.- El Usuario podrá ejercitar sus derechos, en cualquier momento y de manera gratuita, enviando un correo electrónico a la dirección dpoare@alcampo.es o un escrito a FRUITABLE S.L, Calle de las flores, s/n, 08850, gava, España, con “Referencia Protección de Datos”, adjuntando fotocopia de su documento de identidad, para:</p>

<ul>
    <li>Revocar los consentimientos otorgados (incluido el envío de información comercial).</li>

    <li>Obtener confirmación acerca de si en FRUITABLE se están tratando datos personales que te conciernen o no.</li>

    <li>Acceder a tus datos personales.</li>

    <li>Rectificar los datos inexactos o incompletos.</li>

    <li>Solicitar la supresión de tus datos cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.</li>

    <li>Obtener de Fruitable la limitación del tratamiento de los datos cuando se cumpla alguna de las condiciones previstas en la normativa de protección de datos.</li>

    <li>En determinadas circunstancias y por motivos relacionados con su situación particular al tratamiento de tus datos (en concreto, con fines comerciales por parte de FRUITABLE), podrá oponerse al tratamiento de sus datos. FRUITABLE dejará de tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones.</li>

    <li>Obtener intervención humana, a expresar su punto de vista y a impugnar las decisiones automatizadas a adoptadas por parte de AUCHAN RETAIL EN ESPAÑA.</li>

    <li>Solicitar la portabilidad de tus datos.</li>
    <p>Igualmente, el Usuario podrá interponer una reclamación relativa a la protección de sus datos personales a la Agencia Española de Protección de Datos en la dirección Calle de Jorge Juan, 6, 28001 Barcelona.</p>
</ul>

    <p>9.- En el caso de que los datos personales de los Usuarios sean almacenados en una base de datos propiedad de FRUITABLE, dichas entidades garantizan el cumplimiento de los deberes de información y consentimiento respecto de los titulares de los datos, así como la adopción de las medida de seguridad que resultan de aplicación para prevenir la integridad de la información personal aportada, en conformidad con los niveles de seguridad previstos en la normativa vigente de Protección de Datos de Carácter Personal.</p>

    <p>10.- El Usuario será el único responsable, en caso de que cumplimente los formularios con datos falsos, inexactos, incompletos o no actualizados. Todos los datos facilitados por el Usuario serán tratados de forma confidencial.</p>

    <p>11.- La sociedad a la que el Usuario haya podido facilitar sus datos, sólo podrá cederlos, si previamente han obtenido el consentimiento del Usuario para ello.</p>

    <p>12.- La aportación de datos personales, propios o de terceros, a través de los formularios dispuestos al efecto en la Aplicación, sólo podrá realizarse por mayores de edad.</p>

    <p>13.- Con relación al envío de comunicaciones comerciales a través de medios electrónicos (correo electrónico u otros actuales o futuros), siempre que usted desee revocar el consentimiento prestado, o en su caso la oposición, podrá hacerlo además de por los medios indicados a través de su cuenta de usuario, puesta a su disposición en el apartado de “Mi Cuenta”→ “Mis datos”.</p>

</div>


{% endblock %}