{% extends 'base.html.twig' %}
{% block body %}

<div class="am_sales_terms">


    <h1>CONDICIONES GENERALES DE VENTA</h1>




  <p>  Las siguientes Condiciones Generales de Venta (en lo sucesivo CGV), junto, con las Condiciones Generales de acceso, navegación y uso (en lo sucesivo CG) bajo dominio http://www.alcampo.es (en lo sucesivo el sitio Web), los Avisos Legales y las Condiciones particulares enunciadas en las distintas pantallas que integran el sitio Web, contienen la información previa a la contratación, la celebración, perfeccionamiento y condiciones del contrato de compraventa y demás derechos y obligaciones que pudieran derivarse de la relación contractual entre “ALCAMPO S.A.U” (en lo sucesivo “ALCAMPO”), con domicilio en 28029 Madrid, Calle Santiago de Compostela Sur, s/n, Edificio Oficinas La Vaguada, provista de NIF A-28/581882 o cualquiera de las sociedades filiales que se identifican en el punto 2.- (Prestador de los servicios y ofertas) de estas CGV (en lo sucesivo denominadas sociedades filiales de Alcampo), y los Usuarios que adquieran los productos, ofertas y servicios (en lo sucesivo los “productos”) que dichas sociedades ofrecen a través del sitio Web.

    Las operaciones de compra realizadas a través de este sitio Web se entenderán hechas con la sociedad “ALCAMPO” o con la sociedad filial de ALCAMPO titular del Hipermercado ALCAMPO en el que se haya realizado el pedido validado por el Usuario-Comprador, siendo, a todos los efectos, los datos de denominación social, domicilio y NIF los que correspondan a la sociedad titular del referido Hipermercado, todo ello de acuerdo con los datos indicados en el apartado 2.- (Prestador de los servicios y ofertas) de estas CGV.

    El hecho de que “FRUITABLE” y/o sociedades filiales de ALCAMPO no recurran en un momento dado a cualquiera de las presentes Condiciones no puede ser interpretado ni equivaldrá a renunciar a recurrir a ellas en el futuro o en el pasado.
  </p>


    <h2>1. OBJETO</h2>

    <p>Estas CGV regulan la adquisición a “FRUITABLE” y/o sociedades filiales de ALCAMPO, de los productos que se ofrecen o presten a través del Sitio Web a los Usuarios del mismo que previamente se hayan dado de alta rellenado el correspondiente formulario habilitado para tal efecto en el Sitio Web o en la Aplicación denominada “ App Alcampo” en adelante la “App” y hayan prestado su consentimiento y aceptación plena, sin reserva alguna, a todas y cada una de las CGV publicadas por “ALCAMPO” y sociedades filiales de ALCAMPO en cada momento en que el Usuario acceda al referido sitio Web para realizar un pedido online.


    El Usuario deberá leer íntegramente las CGV cada vez que acceda a los productos ofrecidos por “ALCAMPO” o sociedades filiales de ALCAMPO. Dicho acceso se encuentra igualmente regulado por los avisos, notificaciones, normas de uso e instrucciones puestos en conocimiento del Usuario por parte de “ALCAMPO” y/o sociedades filiales de ALCAMPO en cada una de las pantallas que integran el sitio Web bajo dominio http://www.alimentacion.alcampo.es y que complementan lo previsto en estas CGV y en las CG de navegación del portal Alcampo.es.

    Las CGV se aplicarán tanto a la información, como a todos los productos ofrecidos en el sitio Web, rigiendo las que estén vigentes en el momento de realizar cada pedido.
    </p>


    <h2>2. PRESTADORES DE LAS OFERTAS O SERVICIOS</h2>

<ul type="none">
    <li>Fruitable, S.A.U</li>
    <li>Calle de las flores Sur s/n</li>
    <li>Edificio Oficinas La Vaguada</li>
    <li>08850 GAVA</li>
    <li>NIF A-28/5873782</li>
    <li>Dominio de Internet: http://www.Fruitable.cesnuria.es</li>
    <li>Dirección de contacto: info@fruitable.es</li>
    <li>Inscrita en el Registro Mercantil de Madrid: Tomo 3548, Folio 126, sección 8, Hoja M-68454.</li>
</ul>
</div>
{% endblock %}