{% extends 'base.html.twig' %}

{% block body %}
    {% for re in res %}
        <div>
            <h2>Búsqueda de <em>{{ data }}</em></h2>
            <div>
                <h3>{{ re.nameproduct }}</h3>
                <p>{{ re.description }}<br>


                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}