{% extends 'base.html.twig' %}

{% block body %}
    <h1>Añadir transportista</h1>
        <div>
            <div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}