{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="jg_titulos">Aún no tienes nada en la cesta</h2>
    <div class="jg_box_error404">
        <img src="{{ asset('img/boxempty.png') }}" alt="hombre corriendo con carrito de la compra">
    </div>

{% endblock %}