{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="jg_titulos">GRACIAS POR CONFIAR EN FRUITABLE</h2>
    <div class="jg_box_order_complete">
        <img src="{{ asset('img/thankyou.gif') }}" alt="Funny image">
    </div>

{% endblock %}