{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="jg_titulos">Página no encontrada</h1>

    <p>
        La página buscada no corresponde a ninguna ruta.<br>
        Puedes volver a la página principal<a href="{{ path('homepage') }}">aquí</a>.
    </p>
{% endblock %}